<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>

    {% capture canonical %}http://extensiblewebreportcard.org{{page.url | remove:'index.html' | remove:'.html' | strip_slash}}{% endcapture %}

    <script>
      "use strict";
      if (location.href.indexOf("github.io") !== -1) {
        location.href = "{{canonical}}";
      }
    </script>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Architects+Daughter" />
    <link rel="stylesheet" href="assets/screen.css" media="screen" />
    <link rel="stylesheet" href="assets/print.css" media="print" />

    <link rel="canonical" href="{{canonical}}" />
  </head>

  <body>
    <header>
      <div class="inner"> <!-- TODO kill this wrapper -->
        <h1>The Extensible Web Report&nbsp;Card</h1>
        <p>Documenting the state of the extensible web</p>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <!-- TODO: get rid of the triple wrappers so I can sleep at night. <body> is the only wrapper you need. -->
          {{content}}
        </section>

        <aside id="sidebar">
          <p>The Extensible Web Report Card is maintained by <a href="https://w3ctag.github.io/">the W3C TAG</a>. Last update on {{ site.time | date: '%B %d, %Y' }}.</p>

          <script async defer src="assets/toc.js"></script>
        </aside>
      </div>
    </div>
  </body>
</html>
